$bg-color : #393939;
$hightLight : #FEA128;

@mixin transition($duration){
  -webkit-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}


.leftBar, .rightBar{
  background-color: $bg-color;
  @include transition(0.2s);
  &:hover{
    background-color: $hightLight;
  }
}
